// imports 
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
// colors
$gray:#82888a;
$white: #fff;
$charcoal-1: #2c2d31;
$charcoal-2: #1f2125;
$pink: #e6629a;

// typography
$fontFamily: 'Roboto Mono', monospace;

// elements
$links: $pink;
$text-color: $gray;
$body-background: $charcoal-1;
$body-background-2: $charcoal-2;
