@import '../variables';
.card {

    &__content {
        //display: none;
       
        &:hover {
            // display: block;
        }
    }

    &__title {
        color: $text-color;
        font-size: 1em;
        font-weight: 600;
        text-transform: capitalize;
        margin: 1rem 1rem .5rem 0;
    }

    &__data {

    }

    &__excerpt {

    }
}

// const Date = styled.h3`
//   margin: 0 1rem 1.5rem 1rem;
//   color: gray;
// `;

// const Excerpt = styled.p`
//   margin: 0 1rem 1rem 1rem;
//   line-height: 1.6;
// `;