@import '../variables';
body {
 background: $body-background !important;
}
.layout {
 font-family: $fontFamily;
 
 a {
    color: $links !important;
    text-decoration: none;
 }
 p,h1 {
     color: $gray;
 }
}